# Advent of Code Day 01

Env setup - only needs to run once on each machine

In [ ]:
!pip install ipython-sql
!pip install ibm_db 
!pip install ibm_db_sa

Restart the Kernel if this is your first time installing the above. The next steps will fail unless you do this.

Import modules and load the SQL magic

In [3]:
import ibm_db
import ibm_db_sa
import sqlalchemy
%load_ext sql
import getpass

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connect to the database. Change the values of user, host, and password to match your environment. For connection to a local host, use 'localhost' for the host name. Also change the port number and database name in the connection string.

In [4]:
user='db2inst1'
host='localhost'
dbname='aocdb'


password = getpass.getpass('Enter password for '+user+' on '+dbname)

%sql db2+ibm_db://$user:$password@$host:50000/$dbname

Enter password for db2inst1 on aocdb········

In [5]:
# quick view of the data
%sql select * from aoc_day01 fetch first 10 rows only

 * db2+ibm_db://db2inst1:***@localhost:50000/aocdb
Done.

[(1, 199),
 (2, 200),
 (3, 208),
 (4, 210),
 (5, 200),
 (6, 207),
 (7, 240),
 (8, 269),
 (9, 260),
 (10, 263)]

In [ ]:
#SQL to solve the question